/**
 * ==================================================================================
 * Label stylesheet
 * ==================================================================================
 */


/**
 * @Variables
 * ============================================================
 */

//


/**
 * @Extend
 * ============================================================
 */

//


/**
 * @Styles
 * ============================================================
 */

.label {
	opacity: 0;
	visibility: hidden;

	@include transition(opacity .2s ease-out);
}

.label.label--active {
	opacity: 1;
	visibility: visible;
}