/**
 * ==================================================================================
 * Score stylesheet
 * ==================================================================================
 */


/**
 * @Variables
 * ============================================================
 */

$score-color: #fff;


/**
 * @Extend
 * ============================================================
 */

//


/**
 * @Styles
 * ============================================================
 */

#score {
	position: absolute;
	width: 100%;
	top: 10px;
	text-align: center;

	p {
		margin: 0;
		color: $score-color;
	}

	.score__label {
	    font-size: 3.5em;
	}

	.combo__label {
		position: absolute;
		right: 0;
		font-size: 2em;
	}
}