/**
 * ==================================================================================
 * Menu stylesheet
 * ==================================================================================
 */


/**
 * @Variables
 * ============================================================
 */

//


/**
 * @Extend
 * ============================================================
 */

//


/**
 * @Styles
 * ============================================================
 */

#video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

#video.video--minimize {
	top: 0;
	left: 85%;
	width: 15%;
	height: 15%;
}